{% extends 'admin/master.html' %}
{% block body %}
    <form action="/admin/checkview/" method="POST">
      <fieldset>
        <legend>Check Domains</legend>
        <textarea rows="5" id="domain" class="span4" name="domain">{{ domain }}</textarea>
          
        <button type="submit" style="width:80px;display:block;" class="btn btn-primary">Check</button>
        
      </fieldset>
    </form>
{% if status|length > 0 %}
    <table class="table table-hover" style="border:1px;">
        <thead>
            <tr>
              <th>Domain</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for k,v in status.items() %}
            <tr>
              <td>{{ k }}</td>
              <td>{{ v }}</td>
            </tr>
            {%  endfor  %}
        </tbody>
    </table>
{% endif %}
{% endblock %}