{% extends 'admin/master.html' %}
{% block body %}
    <form action="/admin/" method="POST">
      <fieldset>
        <legend>Crawl Domains</legend>
        <!--
        <input type="text" id="url" name="url" value="{{ url }}" placeholder="Enter URL (Required)">
        -->
          <textarea rows="5" id="url" class="span4" name="url">{{ url }}</textarea>
          
        <button type="submit" style="width:56px;display:block;" class="btn btn-primary">GO</button>
        
      </fieldset>
    </form>
{% endblock %}