{% extends 'admin/master.html' %}
{% block body %}
<table class="table table-hover" style="border:1px;">
    <thead>
        <tr>
          <th>Domain</th>
          <th colspan="2">Atcion</th>
        </tr>
    </thead>
    <tbody>
        {% for domain in domains %}
        <tr>
          <td>{{ domain }}</td>
          <td> <a href="/admin/linksview/download/{{ domain }}.csv">Download</a></td>
          <td><a href="/admin/linksview/delete/{{ domain }}">Delete</a></td>
        </tr>
        {%  endfor  %}
    </tbody>
</table>
{% endblock %}
