{% extends 'admin/master.html' %}
{% block body %}
 <form action="/admin/proxyview/" method="POST">
  <fieldset>
    <legend>Proxy List</legend>
     <textarea rows="5" id="proxy" class="span5" name="proxy">{{ data }}</textarea>
    <button type="submit" style="display:block" class="btn btn-primary ">Submit</button>
  </fieldset>
</form>
{% endblock %}


