{% extends 'admin/master.html' %}
{% block body %}
<form action="/admin/searchview/" method="POST" class="form-search">
      <fieldset>
        <legend>Search Domain</legend>
        <label>Start Date</label>
        <input type="text" id="start" name="start" placeholder="Start Date">
        <label>End Date</label>
        <input type="text" id="end" name="end" placeholder="End Date">
        <button type="submit" class="btn btn-primary">Download</button>
      </fieldset>
</form>
{% endblock %}
